/* CSS associée à la page d'accueil du site */

 
/* Définit les options de style du titre principal */  
.title {
	text-align: center;
	background-color: rgb(248,255,50); 
	padding: 30px;
	border: 5px double orange;
	margin-left: 1%;
	margin-right: 1%;
	font: 400 120px/0.8 'Great Vibes', Helvetica, sans-serif;
	color: rgb(210,50,140);
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

/* Définit les options de style du texte d'introduction */
.texte {
	background-color: yellow; 
	margin-top: 50px;
	margin-left: 33%;
	margin-right: 33%;
	margin-bottom: 50px;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	border: 3px double black;
}

/* Définit les options de style de la partie "Me connecter" (pour les utilisateurs étant déjà inscrits) */
.login {
	background-color: red;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
	border: 1px solid black;
	border-radius: 10px;
}

/* Définit les options de style de l'étiquette OU */
.etiquetteOU {
	background-color: rgb(255,233,164);
	text-align: center;
	margin-left: 47%;
	margin-right: 47%;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

/* Définit les options de style du bouton de Login */
.loginbutton {
	background-color: rgb(230,40,50);
	width: 90px;
	padding: 10px;
}

/* Définit les options de style du formulaire d'inscription */
.inscription {
	background-color: orange;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 5%;
	border: 1px solid black;
	border-radius: 10px;
	padding: 20px;
}

/* Définit les options de style du bouton "Soumettre" */
.submitbutton {
	background-color: rgb(230,40,50);
	margin-left: 80%;
	width: 120px;
	padding: 10px;
}

/* Définit les options de style des légendes de <fieldset></fieldset> */
legend {
	display: block;
	background-color: rgb(255,233,164);
	padding: 3px;
	border: 1px solid black;
}

/* Définit les options de style du bloc principal réunissant Connexion et Inscription */
.main {
	background-color: yellow;
	border: 3px double blue;
	margin-left: 2%;
	margin-right: 2%;
}
















